// Write your overrides
.dp__input {
    background-color: rgb(var(--v-theme-surface))!important;
    border-radius: var(--dp-border-radius);
    font-family: var(--dp-font-family);
    border: 1px solid var(--dp-border-color);
    outline: none;
    transition: border-color .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    font-size: var(--dp-font-size);
    line-height: calc(var(--dp-font-size)*1.5);
    padding: var(--dp-input-padding);
    color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity))!important;
    box-sizing: border-box;
}
.dp__action_button{
    padding-bottom: 25px!important;
}