@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1687247853989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  margin: 5px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copyfuzhi2:before {
  content: "\e84c";
}

.icon-download-twoxiazai3:before {
  content: "\e84d";
}

.icon-deleteshanchu:before {
  content: "\e84e";
}

.icon-edit-twobianji2:before {
  content: "\e850";
}

.icon-excel:before {
  content: "\e851";
}

.icon-file-correctwenjian-zhengque:before {
  content: "\e852";
}

